# Xcode
.DS_Store
xcuserdata/

# APIキーや機密情報を含むファイル
*.xcconfig
!*.xcconfig.sample

# 明示的にこれらのファイルを除外
/VoiceYourText/config/Debug.xcconfig
/VoiceYourText/config/Release.xcconfig

# その他
GoogleService-Info.plist

# SwiftPM
.build/ 
fastlane/.env
