# Google Play Service Account JSON key
PLAY_STORE_JSON_KEY_PATH=./fastlane/google-play-key.json

# Android signing keystore
KEYSTORE_PATH=./keystore/release.jks
KEYSTORE_STORE_PASSWORD=your_store_password
KEYSTORE_KEY_ALIAS=your_key_alias
KEYSTORE_KEY_PASSWORD=your_key_password
